# Ignore log files
configuration/*.log

# Ignore state files
configuration/.aptana
configuration/org.eclipse.core.runtime/.*
configuration/org.eclipse.osgi/.*

# Ignore temp files
**/.tmp*

# Ignore Eclipse project files
.project
.settings
.cache
.buildpath
